<h1> Say thanks app for lazy ppl :D </h1>
<br>
<img style="width:200px;" src="http://people.emich.edu/ssohn2/mysite2/MCj02712000000[1].gif">

<h1><a href="/auth/facebook">Click Here</a>  to say "Thanks :)" to people who wished you on facebook on your birthday in one click ;) </h1>

<h2>Use it carefully to avoid spaming urself.</h2>
<br>

<ul> 
	<li>What this app does ? It automatically likes the posts on your wall and posts a comment on your behalf "Thanks :)" for each post.</li>
	<li>The app looks for posts only in the past 48hrs with the word happy in it.</li>
	<li>It will onli post "Thanks :)" and nothing else" </li>
	<li><a target="_blank" href="https://github.com/magizh/magibday">Fork on Github</a></li>
	<li>Your comments are welcome! <a target="_blank" href="http://twitter.com/magizh">@magizh</a></li>
</ul>
